{% extends 'main/header.html' %}
{% block content %}
    <style>
        div.a {
        text-align: center;
        }
        div.side{
            text-align: center;
            display: flex;
            align-items: center;
            background-color:azure;
        }
        .button {
            border: none;
            color:black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border: 2px solid  rgb(151, 197, 224);
        }
        .button:hover{
            background-color:  rgb(151, 197, 224);
                color:black;
        }
    </style>
<div class = 'a'>
    <br>
    <br>
<form method='POST' enctype="multipart/form-data"> {% csrf_token %}
<table align="center">
    <td>FileName<input type="text" name="FileName"></input></td>
    <tr></tr>
    <td>    File<input type = "file" name = "UploadCSV"></input></td>
    <tr></tr>
    <td>Label<input type="text" name="label"></input></td>
    <tr></tr>
    <td><input type="hidden" name="UserName" value={{user.username|title}}></input></td>
    <tr></tr>
    <td><button class="button" type = "submit">Upload</button></p></td>
    <tr></tr>
    <td><button class="button"><a href="/selectChoice">next</a></button></td>
</table>



</form>

</div>


{%endblock%}